body {
  background-color: #242424;
  color: #f2f5f9;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inverse {
    background-color: #424242 !important; 
}

table {
  width: 100%;
  border: 1px solid #000;
}
td {
  width: 12.5%;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.checkers {
  width: 65%;
  margin: 0 auto;
}

.black {
  background-color: #707070;
}

.white {
  background-color: #f2f5f9;
}

.checkers td, 
.checkers th {
    border-top: none !important; 
}

.checkers td:after {
  content: '';
  display: block;
  margin-top: 100%;
}